* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #65B741;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#user-score,
#comp-score {
  font-size: 4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.photo{
 height: 60px;
 width: 60px;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width : 608px) {
  .choices{
   flex-direction: column;
   gap: 0.5px;
   margin-top: 1px;
   margin-bottom: 1px;
  }
  
}

@media screen and (max-width : 608px) {
  .score-board{
   margin-top: 1px;
   margin-bottom: 1px;
  }
  
}

@media screen and (max-width : 608px) {
  .msg-container{
   font-size: medium;
  }
  
}